In [3]:
import pandas as pd
import numpy as np
from nba_api.stats.endpoints import playercareerstats

In [ ]:
players_1 = pd.read_csv('players_1978-1979')
players_2 = pd.read_csv('players_1980-2015.csv')

In [5]:
players_1

    Unnamed: 0  PERSON_ID             PLAYER_NAME  SEASON  OVERALL_PICK
0            0      78331         Mychal Thompson    1978             1
1            0      76736               Phil Ford    1978             2
2            0      77984              Rick Robey    1978             3
3            0      77952  Micheal Ray Richardson    1978             4
4            0      78139            Purvis Short    1978             5
5            0       1449              Larry Bird    1978             6
6            0      76249              Ron Brewer    1978             7
7            0      78548        Freeman Williams    1978             8
8            0      78310            Reggie Theus    1978             9
9            0      77356               Butch Lee    1978            10
10           0      77142           Magic Johnson    1979             1
11           0      76881         David Greenwood    1979             2
12           0      76362         Bill Cartwright    1979             3
13           0      77239             Greg Kelser    1979             4
14           0      77626         Sidney Moncrief    1979             5
15           0      76085            James Bailey    1979             6
16           0      77167          Vinnie Johnson    1979             7
17           0      77691             Calvin Natt    1979             8
18           0      76553             Larry Demic    1979             9
19           0      76928         Roylee Hamilton    1979            10

In [6]:
all_players = pd.concat([players_1, players_2], ignore_index=False)
all_players

     Unnamed: 0  PERSON_ID             PLAYER_NAME  SEASON  OVERALL_PICK
0             0      78331         Mychal Thompson    1978             1
1             0      76736               Phil Ford    1978             2
2             0      77984              Rick Robey    1978             3
3             0      77952  Micheal Ray Richardson    1978             4
4             0      78139            Purvis Short    1978             5
..          ...        ...                     ...     ...           ...
355           0    1626161     Willie Cauley-Stein    2015             6
356           0    1626144         Emmanuel Mudiay    2015             7
357           0    1626169         Stanley Johnson    2015             8
358           0    1626163          Frank Kaminsky    2015             9
359           0    1626159         Justise Winslow    2015            10

[380 rows x 5 columns]

In [7]:
all_players.drop(columns=['Unnamed: 0'])

     PERSON_ID             PLAYER_NAME  SEASON  OVERALL_PICK
0        78331         Mychal Thompson    1978             1
1        76736               Phil Ford    1978             2
2        77984              Rick Robey    1978             3
3        77952  Micheal Ray Richardson    1978             4
4        78139            Purvis Short    1978             5
..         ...                     ...     ...           ...
355    1626161     Willie Cauley-Stein    2015             6
356    1626144         Emmanuel Mudiay    2015             7
357    1626169         Stanley Johnson    2015             8
358    1626163          Frank Kaminsky    2015             9
359    1626159         Justise Winslow    2015            10

[380 rows x 4 columns]

In [8]:
all_players = all_players.drop(columns=['Unnamed: 0'])

In [9]:
all_players

     PERSON_ID             PLAYER_NAME  SEASON  OVERALL_PICK
0        78331         Mychal Thompson    1978             1
1        76736               Phil Ford    1978             2
2        77984              Rick Robey    1978             3
3        77952  Micheal Ray Richardson    1978             4
4        78139            Purvis Short    1978             5
..         ...                     ...     ...           ...
355    1626161     Willie Cauley-Stein    2015             6
356    1626144         Emmanuel Mudiay    2015             7
357    1626169         Stanley Johnson    2015             8
358    1626163          Frank Kaminsky    2015             9
359    1626159         Justise Winslow    2015            10

[380 rows x 4 columns]

In [ ]:
all_players.to_csv('nba_players.csv', index=False)